<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="GitIrcBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <GitIrcBot.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="Nick" serializeAs="String">
                <value>GitIrcBot</value>
            </setting>
            <setting name="AltNick" serializeAs="String">
                <value>GitIrcBot`</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>GitIrcBot</value>
            </setting>
            <setting name="Channels" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string></string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OAuthToken" serializeAs="String">
                <value />
            </setting>
            <setting name="GithubUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="GithubPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="GithubRepositoryName" serializeAs="String">
                <value />
            </setting>
            <setting name="GithubOwnerName" serializeAs="String">
                <value />
            </setting>
            <setting name="GithubDefaultBranch" serializeAs="String">
                <value>master</value>
            </setting>
            <setting name="GooGlAPIKey" serializeAs="String">
                <value />
            </setting>
        </GitIrcBot.Properties.Settings>
    </userSettings>
</configuration>
